@use "../../presets" as *;
@use "../../mixins" as *;

$local-gap: calc(40px / 3);

.section-post {
  //letter-spacing: 0.1em;
  //line-height: 1.2em;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-post h2 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: $color-primary;
}

.section-container {
  max-width: $ul;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.section-content {
  display: grid;
  grid-template-areas:
    "b1 b1 b2 b3"
    "b4 b5 b6 b6";
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  //grid-auto-rows: calc(33.33vh - $local-gap);
  gap: $gap;
  padding-bottom: $gap;
}

.posts-item {
  transition: background-color 0.5s;
  background-color: rgb(242, 242, 242);
}

.posts-item:nth-of-type(1) {
  grid-area: b1;
}

.posts-item:nth-of-type(2) {
  grid-area: b2;
}

.posts-item:nth-of-type(3) {
  grid-area: b3;
}

.posts-item:nth-of-type(4) {
  grid-area: b4;
}

.posts-item:nth-of-type(5) {
  grid-area: b5;
}

.posts-item:nth-of-type(6) {
  grid-area: b6;
}

.posts-item__image {
  display: flex;
  overflow: hidden;
  align-content: center;
  justify-content: center;
  background-color: $color-primary;
  object-fit: cover;
}

.posts-item__text {
  display: grid;
  align-content: center;
  padding: $gap;
  color: $color-gray;
}

.posts-item__link {
  display: grid;
  overflow: hidden;
  height: 100%;
  grid-template-rows: 300px 1fr;

  &:hover,
  &:focus {
    background-color: $color-gray-light;
    transition: transform 0.5s;
  }
}

.posts-action {
  display: flex;
  justify-content: center;
}

h3 {
  letter-spacing: 0.05em;
  color: $color-gray;
  font-size: 1.125rem;
  font-family: "Roboto Slab";
}

h2 {
  letter-spacing: 0.1em;
  color: #2d3651;
  font-family: "Roboto Slab", serif;
  line-height: 1.2em;
}
