@use "../../presets" as *;
@use "../../mixins" as *;

.section-form {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: $color-primary;
}
.form-input {
  display: grid;

  max-width: $ul;
  margin: auto;
  padding-right: $gap;
  padding-left: $gap;

  gap: $gap;
  grid-template-columns: repeat(3, 1fr);
  @include md-min {
    grid-template-columns: repeat(3, 1fr);
  }
  @include md-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  @include sm {
    grid-template-columns: 1fr;
  }
}

.form-item {
  display: block;

  width: 100%;
  height: 60px;
  padding-right: 30px;
  padding-left: 30px;

  transition: 0.5s;
  letter-spacing: 0.15em;

  color: $color-light;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.25);
  outline: none;
  background-color: rgba(255, 255, 255, 0.05);

  font-size: 1.125rem;

  &:hover,
  &:focus {
    border: 2px solid $color-gray;
    border-bottom-color: $color-light;
    background-color: rgba(255, 255, 255, 0.15);
  }
}
.form-button {
  display: block;

  width: 100%;
  height: 60px;
  padding: 0.5em 1em;

  transition: 0.5s;
  letter-spacing: 0.1em;

  color: $color-light;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);

  font-size: 1.125rem;

  &:hover,
  &:focus {
    border: 2px solid $color-gray-light;
    background-color: $color-accent;
  }
}

.form-item::placeholder {
  color: $color-gray;
}

.form-item:hover::placeholder {
  color: rgba($color-light, 50%);
}
